*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(fundo.png);
    background-size: 100%;
}

div img{
    width: 40px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 60px;
}

.navbar ul{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.navbar li{
    padding: 5px 10px;
    list-style: none;
    
}

.navbar a{
    color: white;
    text-decoration: none;
}

.bo{
    border: 1.5px solid #ccc;
    background-color: black;
    border-radius: 1%;
    height: 400px;
    margin: 2rem auto;
    margin-left: 180px;
    padding: 10px;
    padding: 100px;
    width: 70%;
    height: 80%;
}
 
div h1{
    color: orange;
    text-align: center;
}



